# Ambientes Virtuais
venv/
env/
.venv/

# Variáveis de Ambiente e Segredos
.env

# Caches do Python e Playwright
__pycache__/
*.pyc
.pytest_cache/

# VS Code
.vscode/

# Arquivo fase beta (Apenas para visualizar a mudança de um pro outro)
vigilante.py

# Arquivos Airflow
logs/
config/